.form-control.is-valid {
  border-bottom: 4px #17c653 solid;
}

.form-control.is-invalid {
  border-bottom: 4px #f8285a solid;
}

.mv-2rem {
  margin: 2rem 0 !important;
}

.m-0-auto {
  margin: 0 auto;
}

.btn.btn-outline.btn-outline-dashed {
  border-width: 3px;
  border-style: dashed;

  height: 43px;
  padding: 6px;
}

.stepper [data-kt-stepper-element='info'].current,
.stepper [data-kt-stepper-element='content'].current {
  display: block;
}

.stepper [data-kt-stepper-element='info'],
.stepper [data-kt-stepper-element='content'] {
  display: none;
}

#file_pickup {
  width: 0;
  height: 0;
}

.claim_item:hover {
  background-color: beige;
}

.badge {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

._add_claim {
  margin-top: 32px;
}

.width-min {
  width: min-content;
}

.width-100 {
  width: 100%;
}

.h-32rem {
  height: 32rem;
}

.mt-24 {
  margin-top: 24px;
}

.h-20-rem {
  height: 20rem;
}

p {
  margin-top: revert;
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.spinner-SATIS-border {
  width: 5rem;
  height: 5rem;
  margin: 5rem 0;
}

.bg-bg-white-primary {
  background-color: #c8d5e3 !important;
}

.status {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #7d8b82;
}

.status-UNCOMPLETED,
.status-INCOMPLET {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #7d8b82;
}
.status-COMPLETED {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #17b7c6;
}
.status-QUALIFY {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #1734c6;
}
.status-IN_PROCESS {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(198, 172, 23);
}
.status-PROCESSED {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(198, 119, 23);
}
.status-VALIDATE {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #177ac6;
}
.status-NOTIFY {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #da4949;
}
.status-MEASURE {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #a45757;
}
.status-CLOSED {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #17c653;
}

.is-REMINDING {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #c62e17;
}
.no-REMINDING {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #cca6ce;
}

.select-data-loader {
  height: 13px;
  width: 13px;
  margin-left: 1rem;
}
